Repository Frelya/react-site-editor, pull requests merged in 2023-04, with the labels that each got.

#75 Enable components drop at the end
  apps/frontend/src/components/Icons/Minus.tsx
  apps/frontend/src/components/Preview/PreviewComponentWrapper/PreviewComponentWrapper.tsx
  apps/frontend/src/views/Preview/Preview.module.css
  apps/frontend/src/views/Preview/Preview.tsx
  apps/frontend/src/views/Preview/arboresence.ts
Labels: enhancement

#81 Remove the iframe
  apps/frontend/src/components/Decorators/Droppable.tsx
  apps/frontend/src/components/Preview/Preview.tsx
  apps/frontend/src/components/Preview/PreviewDroppable.tsx
  apps/frontend/src/components/Preview/PreviewIframe.tsx
  apps/frontend/src/routes/routes.tsx
  apps/frontend/src/views/EditorPage.tsx
Labels: frontend

#82 Refactor previous commit
  apps/frontend/src/components/Decorators/Draggable.tsx
  apps/frontend/src/components/Decorators/MittProvider.tsx
  apps/frontend/src/components/Preview/Preview.tsx
  apps/frontend/src/components/Preview/PreviewDroppable.tsx
  apps/frontend/src/plugins/mitt/index.cjs
  apps/frontend/src/types/index.ts
  apps/frontend/src/views/EditorPage.tsx
  apps/frontend/src/views/Preview.tsx
Labels: refactoring

#87 Update Dynamic Component
  apps/frontend/src/components/Decorators/DynamicComponent.tsx
  apps/frontend/src/components/Preview/Preview.tsx
  packages/ui/package.json
  packages/ui/scripts/createComponent.sh
  packages/ui/scripts/createComponent.ts
  packages/ui/src/components/exposed/Buttons/Button/Button.tsx
  packages/ui/src/components/exposed/Buttons/Button2/Button2.tsx
  packages/ui/src/components/exposed/Buttons/Button3/Button3.tsx
  packages/ui/src/components/exposed/Buttons/index.ts
  packages/ui/src/components/exposed/Layouts/ColumnLayout/ColumnLayout.tsx
Labels: frontend
