Repository Frelya/react-site-editor, pull requests merged in 2023-07, with the labels that each got.

#114 Add custom context menu
  apps/frontend/src/components/ContextMenu/ContextMenu.tsx
  apps/frontend/src/components/ContextMenu/ContextMenuItem.tsx
  apps/frontend/src/components/Decorators/Contexable.tsx
  apps/frontend/src/components/Decorators/Icon.tsx
  apps/frontend/src/components/Preview/Preview.tsx
  apps/frontend/src/components/ReOrganizer/ReOrganizer.tsx
  apps/frontend/src/components/ReOrganizer/ReOrganizerItem.tsx
  apps/frontend/src/components/SideBar/SideBarRight.tsx
  apps/frontend/src/hooks/useContextMenu.tsx
  apps/frontend/src/store/previewTree/previewTreeSlice.ts
  apps/frontend/src/types/contextMenu.type.ts
  apps/frontend/src/types/index.ts
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
Labels: frontend, feature

#115 Fix the `SideBarRight` and other improvements
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Common/Buttons/EditorButton.tsx
  apps/frontend/src/components/Common/Buttons/index.ts
  apps/frontend/src/components/Common/ContextMenu/ContextMenu.tsx
  apps/frontend/src/components/Common/ContextMenu/ContextMenuItem.tsx
  apps/frontend/src/components/Common/ContextMenu/index.ts
  apps/frontend/src/components/Common/index.ts
  apps/frontend/src/components/ComponentsList/ComponentsList.tsx
  apps/frontend/src/components/ComponentsList/ComponentsListGroups.tsx
  apps/frontend/src/components/ComponentsList/ComponentsListItem.tsx
  apps/frontend/src/components/ComponentsList/Group.tsx
  apps/frontend/src/components/ComponentsList/GroupItem.tsx
  apps/frontend/src/components/ComponentsList/GroupsList.tsx
  apps/frontend/src/components/ComponentsList/index.ts
  apps/frontend/src/components/Decorators/Draggable.tsx
  apps/frontend/src/components/Decorators/MittProvider.tsx
  apps/frontend/src/components/Decorators/WithContextMenu.tsx
  apps/frontend/src/components/Decorators/index.ts
  apps/frontend/src/components/Preview/Preview.tsx
  apps/frontend/src/components/Preview/PreviewComponentWrapper.tsx
  apps/frontend/src/components/Preview/PreviewDroppable.tsx
  apps/frontend/src/components/Preview/index.ts
  apps/frontend/src/components/PropertyComponents/Property/index.ts
  apps/frontend/src/components/PropertyComponents/components-map.ts
  apps/frontend/src/components/PropertyComponents/index.ts
  apps/frontend/src/components/Providers/MittProvider.tsx
  apps/frontend/src/components/Providers/index.ts
  apps/frontend/src/components/ReOrganizer/ReOrganizer.tsx
  apps/frontend/src/components/ReOrganizer/ReOrganizerItem.tsx
  apps/frontend/src/components/ReOrganizer/index.ts
  apps/frontend/src/components/SideBar/ActiveTab.tsx
  apps/frontend/src/components/SideBar/DisplayedProperties.tsx
  apps/frontend/src/components/SideBar/ScreenChanger.tsx
  apps/frontend/src/components/SideBar/SearchBar.tsx
  apps/frontend/src/components/SideBar/SideBarBody.tsx
  apps/frontend/src/components/SideBar/SideBarLeft.tsx
  apps/frontend/src/components/SideBar/SideBarRight.tsx
  apps/frontend/src/components/SideBar/TabChooser.tsx
  apps/frontend/src/components/SideBar/index.ts
  apps/frontend/src/contexts/mitt.ts
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/hooks/useContextMenu.ts
  apps/frontend/src/hooks/useMitt.ts
  apps/frontend/src/router/routes.tsx
  apps/frontend/src/store/activeComponent/activeComponentSlice.ts
  apps/frontend/src/types/active-component.type.ts
  apps/frontend/src/types/activeComponent.type.ts
  apps/frontend/src/types/context-menu.type.ts
  apps/frontend/src/types/events.type.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/utils/index.ts
  apps/frontend/src/utils/remove-non-serializable.ts
  apps/frontend/src/views/editor/Editor.tsx
  apps/frontend/src/views/editor/Preview.tsx
  apps/frontend/src/views/editor/index.ts
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
Labels: frontend, fix, refactoring

#116 Improve the env variables management and typing
  .eslintrc.yaml
  apps/backend/nest-cli.json
  apps/backend/scripts/seed/seed.ts
  apps/backend/src/config/env.config.ts
  apps/backend/src/config/logger.config.ts
  apps/backend/src/config/nest.config.ts
  apps/backend/src/config/static.config.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/app/app.guards.ts
  apps/backend/src/modules/app/app.module.ts
  apps/backend/src/shared/constants/index.ts
  apps/backend/src/shared/constants/node-envs.ts
  apps/backend/src/shared/env/env.module.ts
  apps/backend/src/shared/env/env.service.ts
  apps/backend/src/shared/env/index.ts
  apps/backend/src/shared/guards/roles.ts
  package.json
  pnpm-lock.yaml
Labels: enhancement, configuration, backend

#117 Build the features dirs skeleton using users as example
  .eslintrc.yaml
  apps/backend/docs/index.html
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/app.controller.ts
  apps/backend/src/app/app.guards.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/index.ts
  apps/backend/src/config/env.config.ts
  apps/backend/src/features/user/dtos/get-user-by-id.dto.ts
  apps/backend/src/features/user/user.controller.ts
  apps/backend/src/features/user/user.module.ts
  apps/backend/src/features/user/user.route.ts
  apps/backend/src/features/user/user.service.ts
  apps/backend/src/global.d.ts
  apps/backend/src/main.ts
  apps/backend/src/types/index.ts
  apps/backend/src/types/routes.type.ts
  apps/backend/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: enhancement, backend

#118 Setup validation and errors filtering
  apps/backend/src/app/app.module.ts
  apps/backend/src/decorators/index.ts
  apps/backend/src/features/user/dtos/get-user-by-id.dto.ts
  apps/backend/src/features/user/user.controller.ts
  apps/backend/src/features/user/user.route.ts
  apps/backend/src/filters/all-exceptions.filter.ts
  apps/backend/src/filters/index.ts
  apps/backend/src/interceptors/index.ts
  apps/backend/src/interceptors/response.interceptor.ts
  apps/backend/src/interceptors/timeout.interceptor.ts
  apps/backend/src/pipes/index.ts
  apps/backend/src/pipes/validation.pipe.ts
  apps/backend/src/shared/constants/index.ts
  apps/backend/src/shared/constants/timeout.ts
  apps/backend/src/types/exception.type.ts
  apps/backend/src/types/index.ts
  apps/backend/src/types/reponse.type.ts
  apps/backend/src/types/routes.type.ts
  apps/backend/tsconfig.json
Labels: feature, backend

#121 Fix deployment and update `User` model
  .deploy/entrypoint.sh
  .github/workflows/deploy.yaml
  apps/backend/prisma/schema.prisma
  apps/backend/src/features/user/dtos/update-user.dto.ts
  apps/backend/src/main.ts
  vercel.json
Labels: enhancement, fix
